header{
  display: flex;
  padding: 2em;
  justify-content: space-evenly;
  align-items: center;
}
.search-container{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-size: 2.4em;
  font-weight: 600;
}
.search-bar{
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#search-field{
  width: 50%;
  height: 5vh;
  font-size: 1.1em;
  border: 3px solid #CCCCCC;
  outline: none;
  color: #CCCCCC;
  background-color: #1e1e1e;
  margin-right: 10px;
  padding: 0 20px;
}
#btn-search{
  height: 5.6vh;
  font-size: 1.1em;
  border: 3px solid #CCCCCC;  
  color: #CCCCCC;
  background-color: #1e1e1e;
  font-weight: 500;
  padding: 0 20px;
  transition: all .1s ease-in-out;
}
#btn-search:hover{
  transform: scale(1.03);
}
ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  background-color: #CCCCCC;
  height: 10vh;
}
li,select{
  cursor: pointer;
  font-size: 1em;
  display:flex;
  align-items: center;
  background-color  : transparent;
  color: #1e1e1e;
  height: 3em;
}
select,option{
  border: none;
  outline: none;
  padding:0 5px;
}