<div class="sidebar">
    <ul>
        <li routerLink="/dashboard" routerLinkActive="active" (click)="onItemClick('Dashboard')">Dashboard</li>
        <li routerLink="/products" routerLinkActive="active" (click)="onItemClick('Products')">Products</li>
        <li routerLink="/categories" routerLinkActive="active" (click)="onItemClick('Categories')">Categories</li>
        <li routerLink="/orders" routerLinkActive="active" (click)="onItemClick('Orders')">Orders</li>
        <li routerLink="/billing" routerLinkActive="active" (click)="onItemClick('Billing')">Billing</li>
        <li routerLink="/sellers" routerLinkActive="active" (click)="onItemClick('Sellers / Vendors')">Sellers / Vendors</li>
        <li routerLink="/customers" routerLinkActive="active" (click)="onItemClick('Customers')">Customers</li>
        <li routerLink="/reviews" routerLinkActive="active" (click)="onItemClick('Reviews')">Reviews</li>
    </ul>
</div>
